body{
 background: #b1b1b3;   
}
header{
    width: 100%;
    height: 80px;
    background: #ffffff;
}
header Row {
    margin: 0px !important;
}
header .logo{
    text-decoration: none;
}

header .logo img{
    width: 45px;
}
header .logo span{
    color: #515154;
    font-size: 24px;
    font-weight: 800;
}